$primary-color: #2684ff; // primary color for all components
$secondary-color: #5d6671; // link color
$link-color: #5d6671; // link color
$disabled-color: #dadada; // disabled color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$pristine-color: #F3F8FC;
$white-color: #FFF;
$font-size-base: 14px; // major text font size
$heading-color: rgba(0, 0, 0, 0.85); // heading text color
$text-color: rgba(0, 0, 0, 0.65); // major text color
$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$border-radius-base: 2px; // major border radius
$border-color-base: #2684ff; // major border color
$box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
$font-family: "Inter", sans-serif; // font family
$letter-spacing: "-1px"; // letter spacing
$background-color: #f3f8fc; // major background color
$menu-color: #eef1f4;
$selected-color: #d9edff;
