@import "variables";

.layout {
  height: 100vh;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 410px;
  height: 470px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px !important;
  > div {
    padding: 30px !important;
  }
}

.header {
  width: 100%;
  justify-content: space-between;
  .logo {
    width: 159px;
    height: 27px;
  }

  h1 {
    margin: 0;
    color: $link-color;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    width: 100%;
    margin-bottom: 20px;
  }
  input {
    width: 100%;
  }
  .checkbox {
    width: 100%;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 34px;
    display: flex !important;
    align-items: center !important;
    span {
      margin: 0;
      color: $link-color;
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
  button {
    width: fit-content;
  }
}
