:root {
  --default-font-family: "Inter", sans-serif;
  /* Note: The value assigned to this variable should be identical with `fontFamily` property in styles\theme.ts */
}

html,
body {
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var(--default-font-family);
}

input,
button,
textarea,
select {
  font: inherit;
}
